    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="/images/backgrounds/1.jpg" alt="La communauté Carrotmob">
          <div class="container">
            <div class="carousel-caption">
              <h1>Pourquoi Carrotmob ?</h1>
              <p>Plutôt que de boycotter les commerçants ou les entreprises non vertueuses, pourquoi ne pas les récompenser pour leurs bons gestes ?</p>
              <p><a class="btn btn-lg btn-success" href="/#pourquoi" role="button">Tout savoir sur le pourquoi !</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/backgrounds/2.jpg" alt="Carrotmob au Be Yourself!">
          <div class="container">
            <div class="carousel-caption">
              <h1>Carrotmob, comment ça marche ?</h1>
              <p>Une sélection par la foule de consom'acteurs, des commerçants envahits, un impact mesuré... Et tout ça recommence&nbsp;!</p>
              <p><a class="btn btn-lg btn-primary" href="/#comment" role="button">Le comment en détails !</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/backgrounds/3.jpg" alt="Carrotmob aux Rencontres du Mont-Blanc">
          <div class="container">
            <div class="carousel-caption">
              <h1>Toi aussi, Carrotmob !</h1>
              <p>Carrotmob est un mouvement ouvert à tous...</p>
              <p><a class="btn btn-lg btn-warning" href="/campaign" role="button">Carrotmobber !</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->