<% if(req.session && req.session.passport && req.session.passport.user) { %>
<ul id="connected">
    <li class="active">
        <img src="<%= req.session.passport.user.picture ? req.session.passport.user.picture : (req.session.passport.user.gender == 1 ? '/images/probono/picto-women.png' : '/images/probono/picto-men.png') %>">
        <p>
            Bonjour <%= req.session.passport.user.firstname %><br>
            <a href="/logout">&gt; Se déconnecter</a>
         </p>
    </li>
</ul>
<% } else { %>
<ul id="connect">
    <li class="active"><a href="/connect"><img src="/images/probono/picto-men.png">Connectez-vous</a></li>
</ul>
<% } %>
