      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Revenir en haut</a></p>
        <p>&copy; 2013 Carrot Community &middot; <a href="#vie-privee">Vie privée</a> &middot; <a href="#conditions-utilisation">Conditions d'utilisation</a></p>
      </footer>