      <footer>
        <p class="pull-right"><a href="#">Revenir en haut <i class="fa fa-arrow-up"></i></a></p>
        <p>&copy; 2013-2014 Carrot Community | Dites-nous <a href="mailto:bonjour@carrotmob.fr">bonjour@carrotmob.fr <i class="fa fa-envelope"></i></a></p>
      </footer>