<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="icon">
                        <a href="#fb" class="icon-FB"><img src="../images/icon-FB.png" alt="FB"></a>
                </div>
                <div class="text">
                    <p>Rejoins le groupe  <span class="txt_orange">Carrot Community</span></p>
                    <p class="small-text">Tu peux aussi aimer la <span class="txt_orange">page Facebook de Carrotmob France</span> !</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="icon">
                    <a href="#tw" class="icon-TW"><img src="../images/icon-Twitter.png" alt="FB"></a>
                </div>
                <div class="text">
                    <p id="follow_web">Envoie un tweet avec le hashtag <span class="txt_orange">#Carrotmob</span>.</p>
                    <p class="small-text" >Tu peux aussi suivre <span class="txt_orange">@CarrotCommunity</span> !</p>
                    <p id="follow_mob">Suivre <span class="txt_orange">@CarrotCommunity</span></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" id="carrot">
                <div class="icon">
                    <a href="#ctm" class="icon-Carrot"><img src="../images/icon-Carrot.png" alt="FB"></a>
                </div>
                <div class="text">
                    <p>Développe sur <span class="txt_orange">Carrotmob</span>.</p>
                    <p class="small-text">On attend tes pull requests avec impatience sur  <span class="txt_orange">Git</span> !</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                    <p id="ML">&copy; 2013-2014 Carrot Community | <span class="txt_orange">Dites-nous <a href="mailto:bonjour@carrotmob.fr">bonjour@carrotmob.fr</a></span></p>
            </div>

        </div>

    </div>
</footer>