      <footer>
        <p class="pull-right"><a href="#">Revenir en haut</a></p>
        <p>&copy; 2013 Carrot Community | Dites-nous <a href="mailto:bonjour@carrotmob.fr">bonjour@carrotmob.fr</a></p>
      </footer>