<footer>
	<div id="wrap" class="footer">
		<p>
			<span style="color:white">© 2013-2014 Carrot Community | </span>
			<span style="color:#FF9966">Dites nous </span>
			<a class="link-contact" href="mailto:bonjour@carrotmob.fr">bonjour@carrotmob.fr</a>
		</p>
	</div>
</footer>