<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="icon">
                        <a href="https://www.facebook.com/179333348809421" target="_blank" class="icon-FB"><img src="/images/icon-FB.png" alt="FB"></a>
                </div>
                <div class="text">
                    <p>Rejoins le groupe  <a href="https://www.facebook.com/179333348809421" target="_blank">Carrot Community</a></p>
                    <p class="small-text">Tu peux aussi aimer la <a href="https://www.facebook.com/102340633181115" target="_blank">page Facebook de Carrotmob France</a> !</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="icon">
                    <a href="http://twitter.com/search?q=%23carrotmob&src=hash" class="icon-TW" target="_blank"><img src="/images/icon-Twitter.png" alt="twitter"></a>
                </div>
                <div class="text">
                    <p id="follow_web">Envoie un tweet avec le hashtag <a href="http://twitter.com/search?q=%23carrotmob&src=hash" target="_blank">#Carrotmob</a>.</p>
                    <p class="small-text" >Tu peux aussi suivre <a href="http://twitter.com/carrotcommunity" target="_blank">@CarrotCommunity</a> !</p>
                    <p id="follow_mob">Suivre <a href="http://twitter.com/carrotcommunity" target="_blank">@CarrotCommunity</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" id="carrot">
                <div class="icon">
                    <a href="#ctm" target="_blank" class="icon-Carrot"><img src="/images/icon-Carrot.png" alt="carrot"></a>
                </div>
                <div class="text">
                    <p>Développe sur <a href="#" target="_blank">Carrotmob</a>.</p>
                    <p class="small-text">On attend tes pull requests avec impatience sur <a href="#" target="_blank">Git</a> !</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                    <p id="contact_us">Sinon, retrouve-nous sur <a href="https://plus.google.com/u/0/101268902927411286329/" target="_blank"> Google+</a>, <a href="http://www.pinterest.com/carrotmobfrance/" target="_blank"> Pinterest</a>, <a href="http://instagram.com/carrotmobfrance" target="_blank"> Instagram</a>, et <a href="https://vimeo.com/carrotcommunity" target="_blank">Vimeo</a>, inscris-toi aussi à la <a href="http://carrotcommunity.us6.list-manage1.com/subscribe/?u=b0de5e5c1792b9eb039451ec2&id=6be4834fbe" target="_blank">newsletter</a> ou tout simplement, dis nous bonjour :<a href="mailto:bonjour@carrotmob.fr"> bonjour@carrotmob.fr</a></span></p>
            </div>

        </div>

    </div>
</footer>