footer
        .container-fluid
            .row
                .col-xs-12.col-sm-3.col-md-3
                    .icon
                        a.icon-FB(href='https://www.facebook.com/179333348809421', target='_blank')
                            img(src='/images/icon-facebook.png',alt='Facebook')
                    .text
                        p Rejoins le groupe <a href="https://www.facebook.com/179333348809421" target="_blank">Carrot Community</a>.</p>
                        p.small-text Tu peux aussi aimer la <a href="https://www.facebook.com/102340633181115" target="_blank">page Facebook de Carrotmob France</a> !
                .col-xs-12.col-sm-3.col-md-3
                    .icon
                        a.icon-TW(href='http://twitter.com/search?q=%23carrotmob&src=hash', target='_blank')
                            img(src='/images/icon-twitter.png',alt='twitter')
                       .text
                            p#follow_web Envoie un tweet avec le hashtag <a href="http://twitter.com/search?q=%23carrotmob&src=hash" target="_blank">#Carrotmob</a>.</p>
                            p.small-text Tu peux aussi suivre <a href="http://twitter.com/carrotcommunity" target="_blank">@CarrotCommunity</a> !</p>
                            p#follow_mob Suivre <a href="http://twitter.com/carrotcommunity" target="_blank">@CarrotCommunity</a></p>

                .col-xs-12.col-sm-3.col-md-3
                    .icon
                        a.icon-Github(href='http://instagram.com/carrotmobfrance', target='_blank')
                            img(src='/images/icon-pinterest.png',alt='Pinterest')
                       .text
                            p Abonne-toi à la veille de la  <a href="http://instagram.com/carrotmobfrance" target="_blank">carrot community</a>.</p>
                .col-xs-12.col-sm-3.col-md-3.hidden_mob
                    .icon
                        a.icon-Github(href='https://github.com/carrotcommunity', target='_blank')
                            img(src='/images/icon-github.png',alt='Github')
                       .text
                            p Développe sur <a href="https://github.com/carrotcommunity" target="_blank">Carrotmob</a>.</p>
                            p.small-text On attend tes pull requests avec impatience sur <a href="https://github.com/carrotcommunity" target="_blank">Git</a> !</p>
            .row
                .col-xs-12.col-sm-12.col-md-12.hidden_mob
                    p  Sinon, retrouve-nous sur <a href="https://plus.google.com/u/0/101268902927411286329/" target="_blank"> Google+</a>, <a href="http://instagram.com/carrotmobfrance" target="_blank"> Instagram</a>, et <a href="https://vimeo.com/carrotcommunity" target="_blank">Vimeo</a>, inscris-toi aussi à la <a href="http://carrotcommunity.us6.list-manage1.com/subscribe/?u=b0de5e5c1792b9eb039451ec2&id=6be4834fbe" target="_blank">newsletter</a> ou tout simplement, dis-nous bonjour : <a href="mailto:bonjour@carrotmob.fr">bonjour@carrotmob.fr</a>