<div id="pourquoi" class="row featurette">
        <div class="col-md-5">
          <div class="embed-container"><iframe src="//player.vimeo.com/video/80473607?loop=false&badge=false&byline=false&portrait=false&title=false" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Donnons du sens à nos dépenses&nbsp;!</h2>
          <p class="lead">Nos actions collectives permettent aux petits commerçants et aux grandes entreprises de se développer durablement. </p>
          <div class="row">
            <div class="col-lg-3">
            <!-- Facebook -->
            <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=344184582366865";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-like" data-href="http://www.carrotmob.fr/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
            <!-- Twitter -->
            <div class="col-lg-6">
              <a href="https://twitter.com/CarrotCommunity" class="twitter-follow-button" data-show-count="true" data-lang="fr">Suivre</a>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.carrotmob.fr/" data-via="CarrotCommunity" data-lang="fr">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <!-- Google+ -->
            <div class="col-lg-3">
              <div class="g-plusone" data-href="http://www.carrotmob.fr/"></div>
              <div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://www.carrotmob.fr/"></div>
              <script type="text/javascript">
                window.___gcfg = {lang: 'fr'};

                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/platform.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
            </div>
          </div>
        </div>
      </div>
