########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_Store
Thumbs.db
.netbeans
nbproject
.idea
*.iml
.classpath
.project


########################
# local config
########################
config/local.js
