extends ../layout

block fbmeta
    meta(property='og:title', content='Manifeste')
    meta(property='og:site_name', content='Carrotmob')
    meta(property='og:url', content='http://www.carrotmob.fr/manifesto')
    meta(property='og:description', content='Notre manifeste en 10 points. Donnons du sens à nos dépenses !')
    meta(property='og:image', content='http://www.carrotmob.fr/images/carrotmob.png')
    meta(property='fb:app_id', content='289471504541619')
    meta(property='og:locale', content='fr_FR')
    meta(property='article:publisher', content='https://www.facebook.com/carrotmobfrance')
    meta(property='article:author', content='https://www.facebook.com/carrotmobfrance')

block body
    .background-hawai
        .container
            .layout-form
                .block-form.block-form-bg
                    .block-header
                        h2 <img src="/images/carrotmob-60x60.png" alt="Carrotmob"> Notre manifeste...</h2>
                    .block-content
                        h3 ...en 10 points :
                        p.lead
                            | Changement
                            br
                            | Communauté, Ouverture
                            br
                            | Positif, Optimiste
                            br
                            | Collaboratif
                            br
                            | Bienveillant
                            br
                            | Ludique, Animé
                            br
                            | Ubuntu, Altruiste
                            br
                            | Libre
                            br
                            | Engagement
                            br
                            | Indépendant
                        p
                            a.btn.btn-warning.disabled Signer le manifeste (bientôt)
                        p
                            a.btn.btn-warning(href='https://www.facebook.com/sharer.php?app_id=289471504541619&sdk=joey&u=http%3A%2F%2Fwww.carrotmob.fr%2Fmanifesto&display=popup', target='_blank') Partager sur Facebook
    .bottom-shadow2
