extends ../layout

block fbmeta
    meta(property='og:title', content='Manifeste')
    meta(property='og:site_name', content='Carrotmob')
    meta(property='og:url', content='http://www.carrotmob.fr/manifesto')
    meta(property='og:description', content='Notre manifeste en 10 points. Donnons du sens à nos dépenses !')
    meta(property='og:image', content='http://www.carrotmob.fr/images/carrotmob.png')
    meta(property='fb:app_id', content='289471504541619')
    meta(property='og:locale', content='fr_FR')
    meta(property='article:publisher', content='https://www.facebook.com/carrotmobfrance')
    meta(property='article:author', content='https://www.facebook.com/carrotmobfrance')

block body
    .background-hawai
        .container
            .layout-form
                .block-form.block-form-bg
                    .block-header
                        h2 <img src="/images/carrotmob-60x60.png" alt="Carrotmob"> Notre manifeste...</h2>
                    .block-content
                        h3 ...en 10 points :
                        p.lead
                            br
                            strong Acteurs du changement
                            br
                            | Nous ne jugeons pas les entreprises, nous les faisons changer !
                            br
                            br
                            strong Communauté ouverte
                            br
                            | Nous avons TOUS le pouvoir d'agir !
                            br
                            br
                            strong Concept positif
                            br
                            | La carotte plutôt que le bâton !
                            br
                            br
                            strong Mouvement collaboratif
                            br
                            | Ensemble, nous sommes plus forts !
                            br
                            br
                            strong Innovation sociale
                            br
                            | Nous cherchons à comprendre l'ancien monde pour créer le nouveau !
                            br
                            br
                            strong Altruistes rationnels
                            br
                            | Le plaisir d'agir pour soi et pour les autres !
                            br
                            br
                            strong Ubuntu
                            br
                            | "Je suis parce que nous sommes."
                            br
                            br
                            strong Libres et connectés
                            br
                            | Nous cultivons le libre et nous sommes connectés aux idées de l'open source et des médias sociaux !
                            br
                            br
                            strong Engagés
                            br
                            | Nous mesurons notre impact social et environnemental ! 
                            br
                            br
                            strong Indépendants
                            br
                            | Nous sommes indépendants dans nos pensées et nos financements !
                        p
                            a.btn.btn-warning.disabled Signer le manifeste (bientôt)
                        p
                            a.btn.btn-warning(href='https://www.facebook.com/sharer.php?app_id=289471504541619&sdk=joey&u=http%3A%2F%2Fwww.carrotmob.fr%2Fmanifesto&display=popup', target='_blank') Partager sur Facebook
    .bottom-shadow2
