extends ../layout

block body
    .cover
        h2.text-hide Manifesto
        img(src='/images/cover-default.jpg', alt='Manifesto', width='100%')
    .content
        h3 Le manifeste en 10 points
        ul.lead
            li Changement
            li Communauté, Ouverture
            li Positif, Optimiste
            li Collaboratif
            li Bienveillant
            li Ludique, Animé
            li Ubuntu, Altruiste
            li Libre
            li Engagement
            li Indépendant
