extends layout

block body
    .cover
        img(src='/images/cover-default.jpg', alt='Nuages', width='100%')
    .container
        .row
            .col-md-5
                img.img-responsive(src='/images/carrotmob.png', alt='Carrotmob')
            .col-md-7
                h2 Erreur 400
                p.lead La syntaxe de la requête est erronée.