extends layout

block body
    .content
        .row
            .col-md-5
                img.img-responsive(src='/images/carrotmob.png', alt='Carrotmob')
            .col-md-7
                h2 Forbidden
                - var errormsg =  (typeof error!== 'undefined')? error : 'You don't have permission to see the page you're trying to reach.'
                p.lead= errormsg