<div class="content">
  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive" src="/images/carrotmob.png" alt="Carrotmob">
    </div>
    <div class="col-md-7">
      <h2>Erreur 404</h2>
      <p class="lead">Ressource non trouvée.</p>
    </div>
  </div>
</div>