extends layout

block body
    .content
        .row
            .col-md-5
                img.img-responsive(src='/images/carrotmob.png', alt='Carrotmob')
            .col-md-7
                h2 Erreur 500
                p.lead Erreur interne du serveur