<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carrotmob - Donnons du sens à nos dépenses !</title>

    <link rel="icon" type="image/png" href="/images/carrotmob-32x32.png" />
    <link rel="apple-touch-icon" href="/images/carrotmob-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/carrotmob-72x72.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/carrotmob-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/carrotmob-152x152.png">

    <!-- Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Josefin+Sans">

    <!-- Bootstrap core CSS -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link href="/styles/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/styles/carrotmob.css" rel="stylesheet">

    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.carrotmob.fr">
    <meta property="og:image" content="http://www.carrotmob.fr/images/carrotmob.png">
    <meta property="og:title" content="Carrotmob France">
    <meta property="og:description" content="Donnons du sens à nos dépenses !
Nos actions collectives permettent aux petits commerçants et aux grandes entreprises de se développer durablement.">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@CarrotCommunity">
    <meta name="twitter:url" content="http://www.carrotmob.fr">
    <meta name="twitter:title" content="Carrotmob France">
    <meta name="twitter:description" content="Donnons du sens à nos dépenses !
Nos actions collectives permettent aux petits commerçants et aux grandes entreprises de se développer durablement.">
    <meta name="twitter:image" content="http://www.carrotmob.fr/images/carrotmob.png"> 
  </head>
  <body data-spy="scroll" data-target="#navbar-carrotmob">
    <%- body %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45945109-1', 'carrotmob.fr');
      ga('send', 'pageview');

    </script>
  </body>
</html>
