extends ../layout

block body
    .hawai
        .container
            .layout-form
                .block-form.block-form-bg
                    .block-header
                        h2 <img src="/images/carrotmob-60x60.png" alt="Carrotmob"> Mot de passe oublié !</h2>
                    .block-content
                        h4 J'utilise mon compte Facebook
                        .center-text
                            button.btn-facebook(type='button')
                        .separator
                        h4 J'ai oublié mon mot de passe
                        if success
                            .alert.alert-success= success
                        else
                            form.form-horizontal(method='post',action='/confirm_password')
                                .control-group
                                    if error
                                        .error-msg!= '<span class="glyphicon glyphicon glyphicon-remove"></span>'+error
                                    .controls
                                        input.form-control(type='text',id='inputEmail', name='inputEmail', placeholder='email')
                                .control-group
                                    .controls
                                        button.btn-submit(type='submit') Recevoir mon mot de passe par email
                                p
                                    a(href='/connect') > M'identifier avec mon compte Carrotmobber
        .bottom-shadow