<%- partial('../partials/header')%>

<div class="content layout-form">
    <div class="block-form">
        <h2>Identification</h2>
        <h4>J'utilise mon compte Facebook</h4>

        <div class="center-text">
            <button class="btn-facebook" type="button"></button>
        </div>


        <div class="separator">
        </div>
        <h4>J'ai oublié mon mot de passe</h4>

        <% if (success) { %>
        <div class='alert alert-success'><%= success %></div>
        <% } else { %>
        <form class="form-horizontal" method="post" action="/confirm_password">

            <div class="control-group">
                <% if (error) { %>
                <div class="error-msg"><span class="glyphicon glyphicon glyphicon-remove"></span>
                    <%= error %>
                </div>
                <% } %>
                <div class="controls">
                    <input class="form-control" type="text" id="inputEmail" name="inputEmail" placeholder="email">
                </div>
            </div>


            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn-submit">Recevoir mon mot de passe par email</button>
                </div>
            </div>
            <a href="/connect">> M'identifier avec mon compte Carrotmobber</a>
        </form>
        <% } %>
    </div>

    <div class="bottom-shadow">
    </div>

</div>
<%- partial('../partials/footer')%>