
    <%- partial('../home/header')%>


	<div class="page-marge">
		<div class="welcome-text">
			<h3><br/><br/>Rejoins la communauté !</h3>

			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
			<h4>Retrouve tes amis carrotmobbers<br/>grâce à Facebook !</h4>
			<div class="center-text">
				<button class="btn-facebook" type="button">Large button</button>
			</div>
			<div class="separator">
			</div>
			<h3>Apprenons à nous connaître.</h3>

			<table class="choose-profil" align="center">
				<tbody>
					<tr>
						<td><img src="/img/register_girl.png" class="img-profil"></td>
						<td><img src="/img/register_boy.png" class="img-profil"></td>
					</tr>
				</tbody>
			</table>

		<div class="center-text">
		<form class="form-horizontal">
		
		<div class="control-group">
		    <div class="controls">
		      <input type="text" id="inputFirstName" placeholder="prénom">
		    </div>
		</div>

		<div class="control-group">
		    <div class="controls">
		      <input type="text" id="inputLastName" placeholder="nom">
		    </div>
		</div>

		<div class="control-group">
		    <div class="controls">
		      <input type="text" id="inputTown" placeholder="ville">
		    </div>
		</div>

		<div class="control-group">
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="mail">
		    </div>
		</div>

		  <div class="control-group">  
		    <div class="controls">
		      <input type="password" id="inputPassword" placeholder="mot de passe">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      
		      <button type="submit" class="btn-submit">Je deviens Carrotmobber !</button>
		    </div>
		  </div>
		</form>
		</div>
	</div>


