    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Carrotmob France</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#pourquoi">Pourquoi Carrotmob</a></li>
                <li><a href="/#comment">Comment ça marche</a></li>
                <li><a href="/#carrotmobber">Carrotmobber un commerçant</a></li>
                <li class="active"><a href="/campagne#en-ce-moment">Les campagnes</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- partial('../partials/carousel')%>

    <div id="en-ce-moment" class="container marketing">

      <div id="pourquoi" class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">En ce moment&nbsp;?<br><span class="text-muted">#JeVeuxLeCarrotmobber&nbsp;!</span></h2>
          <p class="lead">La campagne à ne pas manquer !</p>
          <p><img class="featurette-image img-responsive img-thumbnail" src="/images/places/nouveau.png" alt="Nouveau Carrotmob"></p>
          <p><a class="btn btn-danger" href="/campagne/jeveuxlecarrotmobber#jeveuxlecarrotmobber" role="button">Carrotmobber un commerçant&nbsp;! &raquo;</a></p>
          <p><a class="btn btn-danger" href="/campagne/mefairecarrotmobber#mefairecarrotmobber" role="button">Me faire Carrotmobber&nbsp;! &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/carrotmob.png" alt="Carrotmob">
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div id="campagnes" class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">La Vuelta Café <span class="text-muted">30 avril 2010, le premier&nbsp;!</span></h2>
          <p class="lead">Si les Carrotmobbers viennent consommer, alors 100% du Chiffre d’affaires sert à changer les luminaires (LED) et à acheter un système frigorifique économe en énergie.</p>
          <p></p>
          <p><a class="btn btn-warning" href="http://www.carrotcommunity.org/#!rochefort/c4lm" target="_blank" role="button">Revivre le premier Carrotmob de France ! &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rochefort-sur-mer.png" alt="Carrotmob à Rochefort Sur Mer">
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rennes.png" alt="Carrotmobs à Rennes">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Le Café Cortina, La Vie Enchantée, Le Café Laverie <span class="text-muted">11, 12, 13 mai 2011</span></h2>
          <p class="lead">Si les Carrotmobbers viennent boire et manger, alors les commerçants restructurent de façon écologique et durable leurs locaux.</p>
          <p><a class="btn btn-primary" href="https://vimeo.com/25474367" target="_blank" role="button">Revivre les Carrotmobs en vidéo &raquo;</a></p>
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Rive Gauche <span class="text-muted">24 mars 2012</span></h2>
          <p class="lead">Si les carrotmobbers viennent manger et boire, alors 80% du Chiffre d’affaires est réinjecté dans la restructuration écologique de la boutique.</p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!troyes/cjog" target="_blank" role="button">Revivre le Carrotmob de Troyes &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/troyes.png" alt="Carrotmob à Troyes">
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris.png" alt="Carrotmobs à Paris">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">La Bellevilloise <span class="text-muted">6 avril 2012</span></h2>
          <p class="lead">Si les carrotmobbers viennent consommer des boissons, alors La Bellevilloise reverse 100% de son C.A. pour isoler son bâtiment et réduire son empreinte énergétique.</p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!paris/c14o7" target="_blank" role="button">Revivre les Carrotmobs de Paris &raquo;</a></p>
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">La Cave Délices, Le Chantier <span class="text-muted">23 juin 2012</span></h2>
          <p class="lead">Si les Carrotmobbers viennent acheter du vin et consommer des boissons, alors les commerçants refont leurs systèmes de luminaires (ampoules basse consommation, LED).</p>
          <p><a class="btn btn-primary" href="https://vimeo.com/25474367" target="_blank" role="button">Revivre les Carrotmobs de Rennes en vidéo &raquo;</a></p>
          <p><a class="btn btn-info" href="https://www.facebook.com/carrotmobrennes" target="_blank" role="button">Carrotmob Rennes sur Facebook &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rennes.png" alt="Carrotmobs à Rennes">
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/grenoble.png" alt="Carrotmob à Grenoble">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Tea Time <span class="text-muted">6 avril 2013</span></h2>
          <p class="lead"></p>
          <p><a class="btn btn-primary" href="https://vimeo.com/59765761" target="_blank" role="button">Revivre le Carrotmob en vidéo &raquo;</a></p>
          <p><a class="btn btn-info" href="https://www.facebook.com/carrotmobgrenoble" target="_blank" role="button">Carrotmob Grenoble sur Facebook &raquo;</a></p>
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Ferme Attitude <span class="text-muted">6 juin 2013</span></h2>
          <p class="lead">Si les Carrotmobbers achètent les produits locaux de "Ferme Attitude", alors le magazin s'engage à remplacer son parc luminaire (LED).</p>
          <p><a class="btn btn-info" href="https://www.facebook.com/CarrotmobToulouse" target="_blank" role="button">Carrotmob Toulouse sur Facebook &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/toulouse.png" alt="Carrotmob à Toulouse">
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris.png" alt="Carrotmobs à Paris">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Bea'shka <span class="text-muted">8 juin 2013</span></h2>
          <p class="lead">Si les Carrotmobbers consomment les produits de Bea'shka, alors boutique remplace ses radiateurs ultra-énergivores par des systèmes de chauffages écologiques.</p>
          <p><a class="btn btn-info" href="https://www.facebook.com/events/508588659190462/?fref=ts" target="_blank" role="button">Carrotmob Bea'shka sur Facebook &raquo;</a></p>
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Be Yourself ! <span class="text-muted">25 octobre 2013</span></h2>
          <p class="lead"></p>
          <p><a class="btn btn-info" href="https://www.facebook.com/pages/Carrotmob-Lille/118439758341289" target="_blank" role="button">Carrotmob Lille sur Facebook &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/lille.png" alt="Carrotmob à Lille">
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris.png" alt="Carrotmobs à Paris">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Intermarché - Pour un commerce équitable <span class="text-muted">26 octobre 2013</span></h2>
          <p class="lead">Si 500 Carrotmobbers consomment chacun au moins 2 articles équitables, alors cet Intermarché s'engage à faire baisser les prix de l'ensemble de ses produits issus du commerce équitable pendant 6 mois.</p>
          <p><a class="btn btn-info" href="https://www.facebook.com/events/622623657780279/" target="_blank" role="button">Carrotmob Intermarché - Pour un commerce équitable sur Facebook &raquo;</a></p>
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Strasbourg <span class="text-muted">Prochainement</span></h2>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/strasbourg.png" alt="Carrotmob à Strasbourg">
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/ile-de-la-reunion.png" alt="Carrotmob sur l'Ile de la Réunion">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Ile de la Réunion <span class="text-muted">DROM</span></h2>
          <p class="lead"></p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!reunion/c22sk" target="_blank" role="button">Revivre le Carrotmob sur l'Ile de la Réunion &raquo;</a></p>
        </div>
      </div>

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/carrotmob.png" alt="Carrotmob">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Tout sauf ma ville&nbsp;?<br><span class="text-muted">Exprimez-le&nbsp;!</span></h2>
          <p><a class="btn btn-danger" href="/campagne/jeveuxlecarrotmobber#jeveuxlecarrotmobber" role="button">Carrotmobber un commerçant&nbsp;! &raquo;</a></p>
          <p><a class="btn btn-danger" href="/campagne/mefairecarrotmobber#mefairecarrotmobber" role="button">Me faire Carrotmobber&nbsp;! &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div><!-- /.container -->