    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Carrotmob France</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#pourquoi">Pourquoi Carrotmob ?</a></li>
                <li><a href="/#comment">Comment ça marche ?</a></li>
                <li><a href="/campagne#en-ce-moment">Les campagnes !</a></li>
                <li class="active"><a href="/campagne/jeveuxlecarrotmobber#jeveuxlecarrotmobber">Carrotmobber un commerçant !</a></li>
                <li><a href="/campagne/mefairecarrotmobber#mefairecarrotmobber">Me faire Carrotmobber !</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- partial('../partials/carousel')%>

    <div id="jeveuxlecarrotmobber" class="container marketing">

      <div id="comment" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Un Carrotmob chez ton commerçant&nbsp;?<br><span class="text-muted">Il suffit de dire #JeVeuxLeCarrotmobber&nbsp;!</span></h2>
          <p class="lead">Et la communauté de Carrotmobbeurs t'accompagnera...</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Un post sur Facebook ?</h2>
          <p>Postes publiquement le contenu de ton choix en utilisant le hashtag #JeVeuxLeCarrotmobber. Tu peux aussi poster sur la page Facebook de Carrotmob France ! De préférence, géolocalises-toi, et, surtout : envoie le nom du commerçant !</p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/sharer.php?app_id=344184582366865&sdk=joey&u=http%3A%2F%2Fwww.carrotmob.fr%2Fcampagne%2Fjeveuxlecarrotmobber&display=popup" target="_blank" role="button">Partager sur Facebook&nbsp;! &raquo;</a></p>
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=344184582366865";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like-box" data-href="http://www.facebook.com/carrotmobfrance" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Un tweet sur Twitter ?</h2>
          <p>Envoies un tweet de ton choix en utilisant le hashtag #JeVeuxLeCarrotmobber. Tu peux aussi citer la @CarrotCommunity ! De préférence, géolocalises-toi, et, surtout : envoie le nom du commerçant !</p>
          <p><a class="btn btn-danger" href="http://twitter.com/share?url=http%3A%2F%2Fwww.carrotmob.fr%2Fcampagne%2Fjeveuxlecarrotmobber&related=carrotcommunity&via=carrotcommunity&lang=fr&hashtags=JeVeuxLeCarrotmobber" target="_blank" role="button">Tweeter #JeVeuxLeCarrotmobber&nbsp;! &raquo;</a></p>
          <a class="twitter-timeline" href="https://twitter.com/CarrotCommunity" data-widget-id="403289773894156288">Tweets de @CarrotCommunity</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Ailleurs...</h2>
          <p>Sur Instagram, Tumblr, Google+ ou encore Pinterest, utilises le hashtag #JeVeuxLeCarrotmobber ! De préférence, géolocalises-toi, et, surtout : envoie le nom du commerçant !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div><!-- /.container -->