<div class="content layout-form">
    <div class="block-form">
        <h2>Identification</h2>

        <h4>J'utilise mon compte Facebook</h4>

        <div class="center-text">
            <form method="post" action="/fbsignin">
                <button class="btn-facebook" type="submit"></button>
            </form>
        </div>

        <div class="separator"></div>
        
        <h4>J'utilise mon compte Carrotmobber</h4>

        <form class="form-horizontal" method="post" action="/signin">
            <% if (typeof message !== 'undefined') { %>
            <div class="error-msg"><span class="glyphicon glyphicon glyphicon-remove"></span>
                <%= message %>
            </div>
            <% } %>

            <div class="control-group">
                <div class="controls">
                    <input class="form-control" type="text" id="username" name="username"
                           placeholder="adresse email">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input class="form-control" type="password" id="password" name="password"
                           placeholder="mot de passe">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn-submit">OK</button>
                </div>
            </div>

            <p><a href="/forgot_password">> J'ai oublié mon mot de passe</a></p>

            <p><a href="/signup">> Pas encore inscrit ?</a></p>
        </form>
    </div>

    <div class="bottom-shadow"></div>
</div>
