    <div id="infographies" class="navbar-wrapper">
      <div class="container">

        <div id="navbar-carrotmob" class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="/images/carrotmob-205x25.png" alt="Carrotmob" height="25" width="205"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#pourquoi">Pourquoi</a></li>
                <li><a href="#comment">Comment</a></li>
                <li><a href="#communaute">Communauté2</a></li>
                <li><a href="#presse">Presse2</a></li>
                <li><a href="/campagnes">Campagnes2</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>