<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8">
        <title>Carrotmob France</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="logo span8">
                    <h1><a href="">Carrotmob France</a></h1>
                </div>
                <div class="call-us span4">
                    <p>Dites-nous <span>bonjour@carrotmob.fr</span></p>
                </div>
            </div>
        </div>

        <!-- Coming Soon -->
        <div class="coming-soon">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <h2>Décollage imminent&nbsp;!</h2>
                            <p>Nous préparons une toute nouvelle version du site de Carrotmob France. Restez connectés ou rejoignez-nous&nbsp;!</p>
                            <div class="timer">
                                <div class="days-wrapper">
                                    <span class="days"></span> <br>jours
                                </div>
                                <div class="hours-wrapper">
                                    <span class="hours"></span> <br>heures
                                </div>
                                <div class="minutes-wrapper">
                                    <span class="minutes"></span> <br>minutes
                                </div>
                                <div class="seconds-wrapper">
                                    <span class="seconds"></span> <br>secondes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            <div class="row">
                <div class="span12 subscribe">
                    <h3>Restez connectés&nbsp;!</h3>
                    <p>Enregistrez-vous maintenant à la Carrot Newsletter et soyez le premier à être informé des actualités de Carrotmob France&nbsp;:</p>

                    <form action="http://carrotcommunity.us6.list-manage1.com/subscribe/post?u=b0de5e5c1792b9eb039451ec2&amp;id=6be4834fbe" method="post" target="_blank">
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Saisissez votre e-mail..." required>
                        <button type="submit" class="btn" href="">M'inscrire</button>
                    </form>
                    <div class="success-message"></div>
                    <div class="error-message"></div>
                </div>
            </div>
            <div class="row">
                <div class="span12 social">
                    <a href="http://wwww.facebook.com/carrotmobfrance" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook" target="_blank"></a>
                    <a href="http://twitter.com/carrotcommunity" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter" target="_blank"></a>
                    <a href="https://plus.google.com/101268902927411286329" class="googleplus" rel="tooltip" rel="publisher" data-placement="top" data-original-title="Google Plus" target="_blank"></a>
                    <a href="http://www.pinterest.com/carrotmobfrance/" class="pinterest" rel="tooltip" data-placement="top" data-original-title="Pinterest" target="_blank"></a>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/jquery.countdown.js"></script>
        <script src="js/scripts.js"></script>

    </body>

</html>
