<%- partial('../partials/header')%>

<div class="content home">
    <div class="video-mea">
        <img src="/images/image_video.png" alt="Vidéo donnons du sens à nos dépenses"/>
        <ul class="mea-btn">
            <li><a href="/signup"><span class="home-list-text">Devenir Carrot<strong>mobber</strong></span></a></li>
            <li><a href="/campaign/current"><strong
                    class="home-list-text"><span>Découvrir les campagnes</strong></span></a></li>
            <li><a href="#map"><strong class="home-list-text"><span>Découvrir les communautés</strong></span></a>
            </li>
        </ul>
    </div>
    <div class="carrot-community">
        <div class="bottom-shadow2"></div>
        <h3>Rejoindre une communauté <span class="home-light-carrot">Carrot</span>mob</h2>

            <div id="map" class="home-map-ville">
                <a href="">
                    <div class="map-pin pin1"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmoblille/" target="_blank">
                    <div class="map-pin pin2"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmobrouen/" target="_blank">
                    <div class="map-pin pin3"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmobparis/" target="_blank">
                    <div class="map-pin pin4"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmobquimper/" target="_blank">
                    <div class="map-pin pin5"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmobrennes/" target="_blank">
                    <div class="map-pin pin6"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmobnantes/" target="_blank">
                    <div class="map-pin pin7"></div>
                </a>
                <a href="">
                    <div class="map-pin pin8"></div>
                </a>
                <a href="">
                    <div class="map-pin pin9"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotcommunitybordeaux/" target="_blank">
                    <div class="map-pin pin10"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmobmarseille/" target="_blank">
                    <div class="map-pin pin11"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotmobgrenoble/" target="_blank">
                    <div class="map-pin pin12"></div>
                </a>
                <a href="https://www.facebook.com/groups/carrotcommunitytoulouse/" target="_blank">
                    <div class="map-pin pin13"></div>
                </a>
            </div>
    </div>
</div>

