    <div id="infographies" class="navbar-wrapper">
      <div class="container">

        <div id="navbar-carrotmob" class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img height="18px" src="/images/carrotmob-60x60.png"> Carrotmob France</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#en-images">En images</a></li>
                <li><a href="#pourquoi">Pourquoi Carrotmob</a></li>
                <li><a href="#comment">Comment ça marche</a></li>
                <li><a href="#carrotmobber">Carrotmobber un commerçant</a></li>
                <li><a href="/campagne#campagnes">Les campagnes</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- partial('../partials/carousel')%>

    <div class="container marketing">

      <div id="pourquoi" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/consommatrice.jpg" alt="Consommatrice">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Pourquoi Carrotmob&nbsp;?<br><span class="text-muted">Parce que j’ai le pouvoir de changer le monde&nbsp;!</span></h2>
          <p class="lead">Plutôt que de boycotter les petits commerçants ou les grandes entreprises, nous les faisons devenir meilleurs.</p>
          <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>C’est facile</h2>
          <p>Carrotmob est l'inverse d'un boycott ! C'est une méthode d'activisme qui accroit le pouvoir du consommateur en récompensant les commerces les plus socialement et écologiquement responsables.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>C’est pour moi</h2>
          <p>Oui <a href="http://www.facebook.com/me" target="_blank">toi</a> ! Nous avons plus d'influence sur les entreprises en leur donnant une bonne raison de changer : notre argent.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>C’est gagnant-gagnant</h2>
          <p>Le succès de Carrotmob tient dans son concept gagnant-gagnant. La clé de la réussite, c'est la fréquentation. Plus les consommateurs viennent en masse, plus l'impact est grand !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div id="comment" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/consommateur.jpg" alt="Consommateur">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Comment ça marche&nbsp;?<br><span class="text-muted">Tous ensemble&nbsp;!</span></h2>
          <p class="lead">Choisissez dès aujourd'hui les commerçants qui seront Carrotmobbés&nbsp;!</p>
          <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img src="/images/1.jpg" alt="">
          <h2>1. Vous choisissez...</h2>
          <p>Les consom'acteurs soumettent les commerces qu'ils veulent Carrotmobber. Les commerçants sont challengés par tous ceux qui sont ou veulent devenir organisateurs de Carrotmobs ! Les sélections se déroulent via un vote ouvert à tous et aussi simple qu'un "J'aime" sur Facebook !</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/images/2.jpg" alt="">
          <h2>2. Le Carrotmob...</h2>
          <p>Le commerce est envahit par les consom'acteurs et autres consommateurs ! C'est d'ailleurs l'occasion de sensibiliser les consommateurs aux enjeux de la consommation collaborative et responsable, et les informer des autres mouvements collaboratifs comme Disco Soupe qui lutte contre le gaspillage alimentaire...</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/images/3.jpg" alt="">
          <h2>3. Tous heureux&nbsp;!</h2>
          <p>Les mesureurs viennent évaluer le résultat et l'impact du Carrotmob sur le commerçant et son environnement. Les consom'acteurs peuvent aussi évaluer l'engagement des commerçants aussi longtemps que nécessaire après le Carrotmob, et même demander un nouveau Carrotmob !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div id="carrotmobber" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/commercant.jpg" alt="Commerçant">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Un Carrotmob chez ton commerçant&nbsp;?<br><span class="text-muted">Tu as le choix entre...</span></h2>
          <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Un post sur Facebook&nbsp;:</h2>
          <p>Postes publiquement le contenu de ton choix en utilisant le hashtag #JeVeuxLeCarrotmobber. Tu peux aussi poster sur la page Facebook de Carrotmob France ! Penses bien à envoyer le nom du commerçant !</p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/sharer.php?app_id=344184582366865&sdk=joey&u=http%3A%2F%2Fwww.carrotmob.fr%2Fcampagne%2Fjeveuxlecarrotmobber&display=popup" target="_blank" role="button">Partager sur Facebook&nbsp;! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Un tweet :</h2>
          <p>Envoies un tweet de ton choix en utilisant le hashtag #JeVeuxLeCarrotmobber. Tu peux aussi citer la @CarrotCommunity ! Penses bien à envoyer le nom du commerçant !</p>
          <p><a class="btn btn-danger" href="http://twitter.com/share?url=http%3A%2F%2Fwww.carrotmob.fr%2Fcampagne%2Fjeveuxlecarrotmobber&related=carrotcommunity&via=carrotcommunity&lang=fr&hashtags=JeVeuxLeCarrotmobber" target="_blank" role="button">Tweeter #JeVeuxLeCarrotmobber&nbsp;! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Ailleurs...</h2>
          <p>Sur Instagram, Tumblr, Google+ ou encore Pinterest, utilises le hashtag #JeVeuxLeCarrotmobber ! Pense bien à envoyer le nom du commerçant !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div>
    