    <div id="infographies" class="navbar-wrapper">
      <div class="container">

        <div id="navbar-carrotmob" class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="/images/carrotmob-titre.png" alt="Carrotmob"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#pourquoi">Pourquoi</a></li>
                <li><a href="#comment">Comment</a></li>
                <li><a href="#carrotmobbons">Carrotmobbons</a></li>
                <li><a href="/campagnes">Les campagnes</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container marketing">

      <div id="pourquoi" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/commerce-ameliore.jpg" alt="Commerce amélioré">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Pourquoi Carrotmob&nbsp;?</span><br>Parce que j’ai le pouvoir de changer le monde&nbsp;!</h2>
          <p class="lead">Plutôt que de boycotter les petits commerçants ou les grandes entreprises, nous les faisons devenir meilleurs.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/facile.png" alt="Facile">
          <h2>C’est facile</h2>
          <p>Nous savons que nous avons plus d'influence sur les entreprises en leur donnant une bonne raison de changer : notre argent.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/pour-moi.png" alt="Pour moi">
          <h2>C’est pour moi</h2>
          <p>Oui toi&nbsp;! Nous nous servons des consommations de nos vies quotidiennes pour notre propre intérêt, pour celui des générations futures. Pas de discours, de l’action&nbsp;!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/gagnant-gagnant.png" alt="Gagnant-gagnant">
          <h2>C’est gagnant-gagnant</h2>
          <p>Avec Carrotmob, tout le monde gagne. En échange de nos achats, les commerçants et les entreprises s’engagent. Ils deviennent, ensemble, plus responsables, plus durables (et parfois même plus aimables).</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div id="comment" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/commerce-carrotmobbe.jpg" alt="Commerce Carrotmobbé">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Comment ça marche&nbsp;?</span><br>Voilà la carotte. Il n’y a plus de bâton.</h2>
          <p class="lead">Nous choisissons dès aujourd'hui les commerçants qui seront Carrotmobbés&nbsp;!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="/images/consommatrice-140.jpg" alt="">
          <h2>1. Nous choisissons...</h2>
          <p>Les Carrotmobbers proposent les commerces qu'ils veulent Carrotmobber. Les commerçants sont "challengés" par tous ceux qui sont ou veulent devenir organisateurs de Carrotmobs&nbsp;! Les sélections se déroulent via un vote ouvert à tous et aussi simple qu'un "J'aime"&nbsp;!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/images/commercant-140.jpg" alt="">
          <h2>2. Ensemble...</h2>
          <p>Le succès de Carrotmob tient dans son concept gagnant-gagnant. La clé de la réussite c'est la fréquentation. Plus les Carrotmobbers sont nombreux, plus l'impact est grand&nbsp;!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/images/consommateur-140.jpg" alt="">
          <h2>3. Tous heureux&nbsp;!</h2>
          <p>Nous vérifions toujours que le fruit de nos achats sert réellement aux engagements pris par les commerçants. Les Carrotmobbers peuvent aussi directement mesurer l'impact de leurs actions aussi longtemps que nécessaire après le Carrotmob&nbsp;!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <p align="center"><span class="glyphicon glyphicon-chevron-down"></span></p>
      <hr class="featurette-divider">

      <div id="carrotmobbons" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/commerce.jpg" alt="Commerce">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Un Carrotmob chez mon commerçant&nbsp;?</span><br>#Carrotmobbons</h2>
          <p class="lead">Pour solliciter les autres Carrotmobbers, j'ai le choix entre...</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <a href="https://www.facebook.com/sharer.php?app_id=344184582366865&sdk=joey&u=http%3A%2F%2Fwww.carrotmob.fr&display=popup" target="_blank"><img class="img-rounded" src="/images/facebook.jpg" alt="Facebook"></a>
          <h2>Un post sur Facebook</h2>
          <p>Poste le contenu de ton choix en utilisant le hashtag <a class="text-danger" href="http://www.facebook.com/hashtag/carrotmobbons" target="_blank">#Carrotmobbons</a>. Tu peux aussi poster sur la <a class="text-danger" href="http://www.facebook.com/carrotmobfrance" target="_blank">page Facebook de Carrotmob France</a>&nbsp;!</p>
          <p><a class="btn btn-warning" href="https://www.facebook.com/sharer.php?app_id=344184582366865&sdk=joey&u=http%3A%2F%2Fwww.carrotmob.fr&display=popup" target="_blank" role="button"><span class="glyphicon glyphicon-share"></span> Partager sur Facebook</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.carrotmob.fr&related=carrotcommunity&via=carrotcommunity&lang=fr&hashtags=Carrotmobbons" target="_blank"><img class="img-rounded" src="/images/twitter.jpg" alt="Twitter"></a>
          <h2>Un tweet</h2>
          <p>Envoie un tweet de ton choix en utilisant le hashtag <a class="text-danger" href="http://twitter.com/search?q=%23carrotmobbons&src=hash" target="_blank">#Carrotmobbons</a>. Tu peux aussi citer la <a class="text-danger" href="http://twitter.com/carrotcommunity" target="_blank">@CarrotCommunity</a>&nbsp;!</p>
          <p><a class="btn btn-warning" href="http://twitter.com/share?url=http%3A%2F%2Fwww.carrotmob.fr&related=carrotcommunity&via=carrotcommunity&lang=fr&hashtags=Carrotmobbons" target="_blank" role="button"><span class="glyphicon glyphicon-share-alt"></span> Tweeter #Carrotmobbons</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-rounded" src="/images/carrotmob-140x140.jpg" alt="Carrotmob">
          <h2>Ou ailleurs...</h2>
          <p>Sur Instagram, Tumblr, Google+ ou encore Pinterest, tu peux poster en utilisant le hashtag #Carrotmobbons&nbsp;!</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div>
    