    <div id="infographies" class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand active" href="/">Carrotmob France</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#pourquoi">Pourquoi Carrotmob</a></li>
                <li><a href="/#comment">Comment ça marche</a></li>
                <li><a href="/campagne#en-ce-moment">Les campagnes</a></li>
                <li><a href="/campagne/jeveuxlecarrotmobber#jeveuxlecarrotmobber">Carrotmobber un commerçant</a></li>
                <!--li><a href="/campagne/mefairecarrotmobber#mefairecarrotmobber">Me faire Carrotmobber</a></li-->
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- partial('../partials/carousel')%>

    <div class="container marketing">

      <div id="pourquoi" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/consommatrice.jpg" alt="Consommatrice">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Pourquoi Carrotmob&nbsp;?<br><span class="text-muted">C'est très simple&nbsp;!</span></h2>
          <p class="lead">Plutôt que de boycotter les commerçants ou les entreprises non vertueuses, pourquoi ne pas les récompenser pour leurs bons gestes&nbsp;?</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>L'inverse d'un boycott</h2>
          <p>Carrotmob est l'inverse d'un boycott ! C'est une méthode d'activisme qui accroit le pouvoir du consommateur en récompensant les commerces les plus socialement et écologiquement responsables.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>La carotte au lieu du bâton</h2>
          <p>Nous utilisons la carotte au lieu du bâton. Plutôt que les traditionnelles attaques ou menaces, nous croyons que les consommateurs peuvent avoir plus d'influence sur les entreprises en leur donnant une bonne raison de changer : leur argent.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Un concept gagnant-gagnant</h2>
          <p>Le succès de Carrotmob tient dans son concept gagnant-gagnant. La clé de la réussite, c'est la fréquentation. Plus les consommateurs viennent en masse, plus l'impact est grand !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div id="comment" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/consommateur.jpg" alt="Consommateur">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Comment ça marche&nbsp;?<br><span class="text-muted">Choisissez dès aujourd'hui les commerçants qui seront Carrotmobbés&nbsp;!</span></h2>
          <p class="lead"></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="holder.js/140x140" alt="Generic placeholder image">
          <h2>1. Vous choisissez...</h2>
          <p>Les consom'acteurs soumettent les commerces qu'ils veulent Carrotmobber. Les commerçants sont challengés par tous ceux qui sont ou veulent devenir organisateurs de Carrotmobs ! Les sélections se déroulent via un vote ouvert à tous et aussi simple qu'un "J'aime" sur Facebook !</p>
          <p><a class="btn btn-primary" href="/campagne/jeveuxlecarrotmobber#jeveuxlecarrotmobber" role="button">Carrotmobber un commerçant ! &raquo;</a></p>
          <p><a class="btn btn-primary" href="/campagne/mefairecarrotmobber#mefairecarrotmobber" role="button">Me faire Carrotmobber ! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>2. Le Carrotmob...</h2>
          <p>Le commerce est envahit par les consom'acteurs et autres consommateurs ! C'est d'ailleurs l'occasion de sensibiliser les consommateurs aux enjeux de la consommation collaborative et responsable, et les informer des autres mouvements collaboratifs comme Disco Soupe qui lutte contre le gaspillage alimentaire...</p>
          <p><a class="btn btn-warning" href="/campagne#en-ce-moment" role="button">Des Carrotmobs en ce moment ? &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>3. Tous heureux&nbsp;!</h2>
          <p>Les mesureurs viennent évaluer le résultat et l'impact du Carrotmob sur le commerçant et son environnement. Les consom'acteurs peuvent aussi évaluer l'engagement des commerçants aussi longtemps que nécessaire après le Carrotmob, et même demander un nouveau Carrotmob !</p>
          <p><a class="btn btn-success" href="/campagne#campagnes" role="button">Suivre l'impact des Carrotmobs &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/carrotmob.png" alt="Carrotmob">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Envie de Carrotmob&nbsp;?<br><span class="text-muted">Faites-le savoir&nbsp;!</span></h2>
          <p><a class="btn btn-danger" href="/campagne/jeveuxlecarrotmobber#jeveuxlecarrotmobber" role="button">Carrotmobber un commerçant&nbsp;! &raquo;</a></p>
          <p><a class="btn btn-danger" href="/campagne/mefairecarrotmobber#mefairecarrotmobber" role="button">Me faire Carrotmobber&nbsp;! &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div>
    