    <div id="infographies" class="navbar-wrapper">
      <div class="container">

        <div id="navbar-carrotmob" class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="/images/carrotmob-205x25.png" alt="Carrotmob" height="25" width="205"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#pourquoi">Pourquoi</a></li>
                <li><a href="#comment">Comment</a></li>
                <li><a href="#communaute">Communauté</a></li>
                <li><a href="#presse">Presse</a></li>
                <li><a href="/campagnes">Campagnes</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container presentation">

      <div id="pourquoi" class="row featurette">
        <div class="col-md-5">
          <div class="embed-container"><iframe src="//player.vimeo.com/video/80473607?loop=false&badge=false&byline=false&portrait=false&title=false" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Donnons du sens à nos dépenses&nbsp;!</h2>
          <p class="lead">Nos actions collectives permettent aux petits commerçants et aux grandes entreprises de se développer durablement. </p>
          <div class="row">
            <div class="col-lg-3">
            <!-- Facebook -->
            <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=344184582366865";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-like" data-href="http://www.carrotmob.fr/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
            <!-- Twitter -->
            <div class="col-lg-6">
              <a href="https://twitter.com/CarrotCommunity" class="twitter-follow-button" data-show-count="true" data-lang="fr">Suivre</a>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.carrotmob.fr/" data-via="CarrotCommunity" data-lang="fr">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <!-- Google+ -->
            <div class="col-lg-3">
              <div class="g-plusone" data-href="http://www.carrotmob.fr/"></div>
              <div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://www.carrotmob.fr/"></div>
              <script type="text/javascript">
                window.___gcfg = {lang: 'fr'};

                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/platform.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/pour-toi.png" alt="Pour toi" height="140" width="140">
          <h2>C’est pour tous</h2>
          <p>Utilisons nos dépenses quotidiennes afin de participer à la création d’un monde meilleur. </p>
        </div>
        <div class="col-lg-4">
         <img class="img-circle" src="/images/facile.png" alt="Facile" height="140" width="140">
          <h2>C’est facile</h2>
          <p>Croyons ensemble aux entreprises pour faire évoluer positivement leurs comportements.</p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="/images/gagnant-gagnant.png" alt="Gagnant-gagnant" height="140" width="140">
          <h2>C’est gagnant-gagnant</h2>
          <p>Engageons les à devenir plus responsables et durables et faisons qu’avec Carrotmob, tout le monde gagne&nbsp;!</p>
        </div>
      </div>

      <p align="center"><a href="#comment"><span class="glyphicon glyphicon-chevron-down"></a></span></p>
      <hr class="featurette-divider">

      <div id="comment" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/commerce-carrotmobbe.png" alt="Commerce Carrotmobbé" height="300" width="500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Comment fonctionne Carrotmob&nbsp;?</h2>
          <p class="lead">Voici un exemple&nbsp;:</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="/images/serge-et-jade.png" alt="Serge et Jade" height="280" width="280">
          <h2>1. Avant</h2>
          <p>Serge et Jade sont Carrotmobbers.<br>Ils passent un accord avec Francky, leur épicier.<br>Ils décident ensemble que 50% du chiffre d’affaires du Carrotmob servira à acheter un panneau solaire pour rendre la boutique de Francky moins gourmande en énergie et lui permettre de diminuer son impact sur la planète.</p>
        </div>
        <div class="col-lg-4">
          <img src="/images/epicier.png" alt="Epicier" height="280" width="280">
          <h2>2. Le Carrotmob</h2>
          <p>Le Jour J, les Carrotmobbers dépensent de l’argent <br>chez Francky l’épicier.<br> Plus ils sont nombreux, plus l'impact est grand&nbsp;! <br> La clé de la réussite est bien sûr la fréquentation.</p>
        </div>
        <div class="col-lg-4">
          <img src="/images/boutique-panneaux-solaires.png" alt="Boutique équipée de panneaux solaires" height="280" width="280">
          <h2>3. Et après</h2>
          <p>Nous assurons le suivi et vérifions que Francky respecte ses engagements.<br>Sur carrotmob.fr, les Carrotmobbers peuvent aussi directement mesurer l'impact de leurs actions aussi longtemps que nécessaire pendant et après le Carrotmob&nbsp;!</p>
        </div>
      </div>

      <p align="center"><a class="btn btn-warning" href="/campagnes" role="button">Découvrir les campagnes</a></p>
      <p align="center"><a href="#communaute"><span class="glyphicon glyphicon-chevron-down"></span></a></p>
      <hr class="featurette-divider">

      <div id="communaute" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/commerce.png" alt="Commerce" height="300" width="500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Rejoins la communauté</h2>
          <p class="lead">Pour participer ou organiser des Carrotmobs&nbsp;:</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <a href="https://www.facebook.com/179333348809421" target="_blank"><img class="img-rounded" src="/images/facebook.png" alt="Facebook" height="140" width="140"></a>
          <h2>Le groupe Facebook</h2>
          <p>Rejoins le groupe <a href="https://www.facebook.com/179333348809421" target="_blank">Carrot Community</a>. Tu peux aussi aimer la <a href="https://www.facebook.com/102340633181115" target="_blank">page Facebook de Carrotmob France</a>&nbsp;!</p>
          <p><a class="btn btn-warning" href="https://www.facebook.com/179333348809421" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Rejoindre le groupe</a></p>
        </div>
        <div class="col-lg-4">
          <a href="http://twitter.com/share?url=http%3A%2F%2Fwww.carrotmob.fr&related=carrotcommunity&via=carrotcommunity&lang=fr&hashtags=Carrotmobbons" target="_blank"><img class="img-rounded" src="/images/twitter.png" alt="Twitter" height="140" width="140"></a>
          <h2>Le hashtag</h2>
          <p>Envoie un tweet en utilisant le hashtag <a href="http://twitter.com/search?q=%23carrotmob&src=hash" target="_blank">#Carrotmob</a>. Tu peux aussi suivre <a href="http://twitter.com/carrotcommunity" target="_blank">@CarrotCommunity</a>&nbsp;!</p>
          <p><a class="btn btn-warning" href="http://twitter.com/share?url=http%3A%2F%2Fwww.carrotmob.fr&related=carrotcommunity&via=carrotcommunity&lang=fr&hashtags=Carrotmob" target="_blank" role="button"><i class="fa fa-twitter fa-fw"></i> Tweeter #Carrotmob</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-rounded" src="/images/ailleurs.png" alt="Ailleurs" height="140" width="140">
          <h2>Ou ailleurs...</h2>
          <p>Retrouve-nous sur <a href="https://plus.google.com/u/0/101268902927411286329/" target="_blank"><i class="fa fa-google-plus-square"></i>&nbsp;Google+</a>, <a href="http://www.pinterest.com/carrotmobfrance/" target="_blank"><i class="fa fa-pinterest"></i>&nbsp;Pinterest</a>, <a href="http://instagram.com/carrotmobfrance" target="_blank"><i class="fa fa-instagram"></i>&nbsp;Instagram</a> et <a href="https://vimeo.com/carrotcommunity" target="_blank"><i class="fa fa-vimeo-square"></i>&nbsp;Vimeo</a>. Inscris-toi aussi à la <a href="http://carrotmob.us6.list-manage.com/subscribe?u=b0de5e5c1792b9eb039451ec2&id=6be4834fbe" target="_blank">newsletter</a>&nbsp;:</p>
          <form class="form-inline" role="form" action="http://carrotcommunity.us6.list-manage1.com/subscribe/post?u=b0de5e5c1792b9eb039451ec2&amp;id=6be4834fbe" method="post" target="_blank">
            <div class="form-group">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Adresse e-mail..." required>
            </div>
            <button type="submit" class="btn btn-warning">S'inscrire</button>
          </form>
          <div class="success-message"></div>
          <div class="error-message"></div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="presse" class="row media">
        <div class="col-lg-3">
          <a class="la-nouvelle-edition" href="https://vimeo.com/51735316" target="_blank"></a>
        </div>
        <div class="col-lg-3">
          <a class="liberation" href="http://www.liberation.fr/economie/2013/11/10/carrotmob-la-carotte-plutot-que-le-baton_945919" target="_blank"></a>
        </div>
        <div class="col-lg-3">
          <a class="les-inrockuptibles" href="http://www.lesinrocks.com/2012/06/08/actualite/carrotmob-chantre-ecolo-de-lanti-boycott-11267382/" target="_blank"></a>
        </div>
        <div class="col-lg-3">
          <a class="le-mouv" href="http://www.franceinfo.fr/societe/initiative-france-info/les-carrot-mob-pouvoir-aux-consommateurs-686153-2012-07-25" target="_blank"></a>
        </div>
      </div>

      <div class="row media">
        <div class="col-lg-3">
          <a class="marcel-green" href="http://www.marcelgreen.com/article/le-carrotmob-a-paris-cest-demain-2872#.Uph7yxaPsW4" target="_blank"></a>
        </div>
        <div class="col-lg-3">
          <a class="ecoplus-tv" href="http://www.youtube.com/watch?v=MQ5oXNZYg24" target="_blank"></a>
        </div>
        <div class="col-lg-3">
          <a class="rennes-la-novosphere" href="http://www.rennes-novosphere.com/fr/projet/detail/carrotmob-linverse-du-boycott" target="_blank"></a>
        </div>
        <div class="col-lg-3">
          <a class="tracks" href="http://www.arte.tv/fr/carrotmob/2982414,CmC=2980570.html" target="_blank"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div>