#details{
    width: 80%;
    margin: auto;
    background-color: #FFF;
    text-align: justify;
}

#details .cover{
    width: 100%;
}


#details .img-rounded{
    border-radius: 60px;

}



#details  .contentDetails{
    padding: 20px 50px;
}

#details .part
{
	float:left;
    border-bottom:solid 3px orange;
}

#details .friend
{
	margin-left: 190px;	
    float:left;
    border-radius: 3px;
border-bottom:solid 3px orange;
}

#details .sout
{
margin-left: 310px;
padding-top: -230px;
border-bottom:solid 3px orange;
float:left;

}

#details .paris
{
    clear:both;
    padding-top: 50px;
}

#details .number
{
    margin-top: -45px;
    margin-left: 300px;
}

