.navbar-default {background-color:white;margin-bottom:0px;}
.navbar{min-height:0;background:transparent;border:none;}
.bg-head{background-color:white;}

.navCenter{
    margin: 0 auto;
    max-width: 1024px;
}

.navbar-nav>.active>a {
    border-bottom: solid 5px #34b514;
}

.navbar-nav>li>a {
    padding: 28px 0px 10px 0px;
    margin:0 20px 0 20px;
}

.navbar-toggle {margin :14px 14px 14px 0;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color:transparent;
}

/*  TODO BLOCK CONNECTED
#connect,
#connected {
    float: right;
    margin-right: 10px;
}

#connected, #connect {margin-bottom:0px;padding-left:0px;}

#connect li,
#connected li {
    list-style: none;
    background-color: #ff9966;
    display: block;
    padding:6px 10px;
}

#connected img{float:left;}

#connect li a,
#connected li a, #connected li a:visited, #connected li a:hover {
    color: #FFF;
    text-decoration: none;
    padding: 3px 10px;
    height: 62px;
    font-weight: normal;
}
#connected p{display:inline-block;color:white; font-family: 'Roboto', Arial, sans-serif; font-weight: lighter;} */

.navbar-brand{padding:0px;margin:0px 50px 0px 0px!important;}

.topShadow {
    height: 7px;
    margin: auto;
    background: url("../images/probono/shadow.png") no-repeat center bottom;
}

/*TABLET */
@media (max-width: 1024px) {

    .navbar-nav {margin:0px;}
}
/*MOBILE/PHABLET */
@media (max-width: 767px) {
    .navbar-collapse {
        padding:0px;
    }
    .navbar-nav{
        display:block;
        width:100%;
        background-color: #fcfcfc;
    }
    .navbar-nav li
    {
        width: 50%;
        float:left;
        display:inline-block;
    }

    .navbar-nav>li>a
    {
        padding: 15px 7px 8px 7px;
        margin:0px;
    }

    /*TODO
    #connect
    {
        width: 100%;
        padding: 0;
    }*/
}