.c_campaign {max-width:1024px; margin:0 auto;position:relative;}
 a.new_campaign  {
    position:absolute;
    right:0px;
     top:-20px;
    font-size:18px;
    font-weight:lighter;
    background-color:#ff9966;
    border:2px solid #ff9966;
    border-radius:8px;
    text-align: left;
    padding:10px;
}

a.new_campaign, a.new_campaign:visited, a.new_campaign:hover {
    color:white;
    text-decoration: none;
}
.filters{text-align:center;margin-top:60px;}
.filters ul{display:inline-block;list-style:none;overflow:hidden;padding:0px;}
.filters li{float:left; margin-right:20px;}
.filters a, .filters a:hover {
    color:#a2a3a3;
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    display:block;
}
.filters .selected {border-bottom:solid 3px #ff9966;}
.grid_c_list {
    padding:42px 2.0507812% 0px 2.0507812%;
    overflow:hidden;
}
.bk_c_mea {height:473px;width:46.875%;float:left; background-color:white;margin:0px 2.4414062% 20px 0px;}
.bk_c_mea a {display:block;overflow: hidden;}
.grid_c_list, .grid_c_list a:hover,.grid_c_list a:visited{color:black;font-family: 'Roboto', sans-serif;text-decoration:none;}
.grid_c_list h3{color: #34b514;font-size: 1.4em;}
.bk_c_mea p, .bk_c_mea h3 {margin-left:0px;margin-right:0px; text-align:left;}

.e_infos{margin:33px 37px;}
.e_infos .location{}
.e_infos .location .town {font-size: 1.4em;font-weight:bold;}
.e_infos .location {position:relative;}
.e_infos .location .people {font-size: 1.8em;position:absolute;right:0px;}
.c_campaign h2
{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18pt;
}


.controls .row{
    width: 40%;
    margin: auto;

}