/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html, body {
    height: 100%;
}

body {
  padding-top: 80px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
}


.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* PRESENTATION CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.presentation {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.presentation .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.presentation h2 {
  font-weight: normal;
}
.presentation .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the presentation headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Thin out the presentation headings */
.campaign-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.rennes-la-novosphere-gris, .rennes-la-novosphere, .le-mouv-gris, .le-mouv, .les-inrockuptibles-gris, 
.les-inrockuptibles, .marcel-green-gris, .marcel-green, .la-nouvelle-edition, .la-nouvelle-edition-gris, 
.liberation-gris, .liberation, .ecoplus-tv-gris, .ecoplus-tv, .tracks, 
.tracks-gris
{ display: inline-block; background: url('/images/presse.png') no-repeat; }

.rennes-la-novosphere { background-position: -0px -140px; width: 94px; height: 140px; }
.le-mouv { background-position: -0px -419px; width: 140px; height: 139px; }
.les-inrockuptibles { background-position: -0px -637px; width: 140px; height: 79px; }
.marcel-green { background-position: -0px -786px; width: 140px; height: 70px; }
.la-nouvelle-edition { background-position: -0px -856px; width: 140px; height: 69px; }
.liberation { background-position: -0px -1045px; width: 140px; height: 51px; }
.ecoplus-tv { background-position: -0px -1140px; width: 140px; height: 44px; }
.tracks { background-position: -0px -1184px; width: 140px; height: 34px; }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .presentation {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .campaign-heading {
    font-size: 50px;
  }

  .rennes-la-novosphere { background-position: -0px -0px; width: 94px; height: 140px; }
  .rennes-la-novosphere:hover { background-position: -0px -140px; width: 94px; height: 140px; }
  .le-mouv { background-position: -0px -280px; width: 140px; height: 139px; }
  .le-mouv:hover { background-position: -0px -419px; width: 140px; height: 139px; }
  .les-inrockuptibles { background-position: -0px -558px; width: 140px; height: 79px; }
  .les-inrockuptibles:hover { background-position: -0px -637px; width: 140px; height: 79px; }
  .marcel-green { background-position: -0px -716px; width: 140px; height: 70px; }
  .marcel-green:hover { background-position: -0px -786px; width: 140px; height: 70px; }
  .la-nouvelle-edition { background-position: -0px -925px; width: 140px; height: 69px; }
  .la-nouvelle-edition:hover { background-position: -0px -856px; width: 140px; height: 69px; }
  .liberation { background-position: -0px -994px; width: 140px; height: 51px; }
  .liberation:hover { background-position: -0px -1045px; width: 140px; height: 51px; }
  .ecoplus-tv { background-position: -0px -1096px; width: 140px; height: 44px; }
  .ecoplus-tv:hover { background-position: -0px -1140px; width: 140px; height: 44px; }
  .tracks { background-position: -0px -1218px; width: 140px; height: 34px; }
  .tracks:hover { background-position: -0px -1184px; width: 140px; height: 34px; }
}

@media (min-width: 992px) {
  .presentation {
    margin-top: 40px;
  }

  .featurette {
    margin-bottom: 40px;
  }

  .campaign-heading {
    margin-top: 40px;
  }

  .featurette-heading {
    margin-top: 80px;
  }
}

/* Embed video container */

.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Medias */

.media > div {
  height: 140px;
  line-height: 140px;
  text-align: center;
}

.media > div > a { 
  vertical-align: middle;
}

/* Buttons */

.btn-danger:hover {
  color: #ffffff;
  background-color: #e16764;
  border-color: #e16764;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #9193ce;
  border-color: #6769bb;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #f07f33;
  border-color: #f07f33;
}
