
    <%- partial('../home/header')%>


<div class="page-marge">
	<div class="inspiration">
		<div class="welcome-text">
			<h3><br/><br/>Il est temps de passer à l'action !</h3>

			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
	<div class="title">		
<h2> Créer ma Carrotmob </h2>
	</div>

			<div class="center-text">
				<form class="form-horizontal" action="/campaign/create" method="GET">
			
					<div class="control-group">
			    		<div class="controls">
			      			<input type="text" id="inputFirstName" placeholder="Titre" name="title">
			    		</div>
					</div>

					<div class="control-group">
					    <div class="controls">
					      <input type="text" id="inputLastName" placeholder="Date de l'évenement" name="startDateStr">
					    </div>
					</div>

					<div class="control-group">
					    <div class="controls">
					      <input type="text" id="inputTown" placeholder="Adresse" name="address">
					    </div>
					</div>

					<div class="control-group">
					    <div class="controls">
					      <input type="text" id="inputCity" placeholder="Ville" name="city">
					    </div>
					</div>

					<div class="control-group">
					    <div class="controls">
					      <textarea name="desc"placeholder="Description"></textarea>
					    </div>
					</div>

					<div class="control-group">  
			    		<div class="controls">
			      			<textarea placeholder="Engagement du commercant" name="engagement"></textarea>
			    		</div>
			  		</div>

					<div class="control-group">
			    		<div class="controls">
			    			<button type="submit" class="btn-submit">Je deviens Carrotmobber !</button>
			    			</div>
			    	</div>
				</form>
			</div>
			<br/><br/><br/>
		</div>
	</div>
	
	<div class="bottom-shadow">
	</div>

</div>
<br/><br/><br/>
<%- partial('../partials/footer')%>


