    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Carrotmob France</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#pourquoi">Pourquoi Carrotmob ?</a></li>
                <li><a href="/#comment">Comment ça marche ?</a></li>
                <li><a href="/campaign">Les campagnes !</a></li>
                <li class="active"><a href="/campaign/create#un-carrotmob-ici">Carrotmobber un commerçant !</a></li>
                <li><a href="/campaign/request#me-faire-carrotmobber">Me faire Carrotmobber !</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- partial('../partials/carousel')%>

    <div id="un-carrotmob-ici" class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Un Carrotmob ici&nbsp;?<br><span class="text-muted">Il suffit de le vouloir&nbsp;!</span></h2>
          <p class="lead">Prendre une photo du commerce &raquo; Renseigner quelques informations &raquo; Solliciter les autres Carrotmobbeurs !</p>
        </div>
        <div class="col-md-5">
          <div id="map" class="featurette-image img-responsive" style="width: 500px; height: 500px"></div>

          <script>
            var map = L.map('map');

            L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
              maxZoom: 18,
              attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
            }).addTo(map);

            function onLocationFound(e) {
              var radius = e.accuracy / 2;

              L.marker(e.latlng).addTo(map)
                .bindPopup("Ma position approximative dans un rayon de " + radius + " mètres !").openPopup();

              L.circle(e.latlng, radius).addTo(map);
            }

            function onLocationError(e) {
              alert(e.message);
            }

            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);

            map.locate({setView: true, maxZoom: 16});
          </script>
        </div>
      </div>

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div><!-- /.container -->