    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Carrotmob France</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#pourquoi">Pourquoi Carrotmob ?</a></li>
                <li><a href="/#comment">Comment ça marche ?</a></li>
                <li><a href="/campaign#en-ce-moment">Les campagnes !</a></li>
                <li class="active"><a href="/campaign/create#un-carrotmob-ici">Carrotmobber un commerçant !</a></li>
                <li><a href="/campaign/request#me-faire-carrotmobber">Me faire Carrotmobber !</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- partial('../partials/carousel')%>

    <div id="un-carrotmob-ici" class="container marketing">

      <div id="comment" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Un Carrotmob chez ton commerçant&nbsp;?<br><span class="text-muted">Il suffit de dire #JeVeuxLeCarrotmobber&nbsp;!</span></h2>
          <p class="lead">Et la communauté de Carrotmobbeurs t'accompagnera...</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Un post sur Facebook ?</h2>
          <p>Postes publiquement le contenu de ton choix en utilisant le hashtag #JeVeuxLeCarrotmobber. Tu peux aussi poster sur la page Facebook de Carrotmob France ! De préférence, géolocalises-toi, et, surtout : envoie le nom du commerçant !</p>
          <p><a href="https://www.facebook.com/carrotmobfrance" target="_blank"><img class="img-circle" src="/images/social-icons/facebook.png" alt="Facebook"></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Un tweet sur Twitter ?</h2>
          <p>Envoies un tweet de ton choix en utilisant le hashtag #JeVeuxLeCarrotmobber. Tu peux aussi citer la @CarrotCommunity ! De préférence, géolocalises-toi, et, surtout : envoie le nom du commerçant !</p>
          <p><a href="https://twitter.com/carrotcommunity" target="_blank"><img class="img-circle" src="/images/social-icons/twitter.png" alt="Twitter"></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Ailleurs...</h2>
          <p>Sur Instagram, Tumblr, Google+ ou encore Pinterest, utilises le hashtag #JeVeuxLeCarrotmobber ! De préférence, géolocalises-toi, et, surtout : envoie le nom du commerçant !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div><!-- /.container -->