
<%- partial('../partials/header')%>

<div class="pageDetails">
    	<div id="details">


            <img src="images/probono/details-cover.jpg" class='cover'>

            <div class='contentDetails'>

            <h2>Carrotmob Café A</h2>
            <p>Danish biscuit pudding jelly-o chocolate sesame snaps jelly chocolate cake. Sesame snaps carrot cake donut cupcake tiramisu croissant gummi bears I love. Dessert cake marshmallow wafer caramels bear
               claw.</p>

               <p>
Candy canes icing donut cotton candy sweet roll muffin dragée muffin candy. Caramels sesame snaps brownie tiramisu. Macaroon biscuit soufflé halvah muffin pie chupa chups.
Candy canes icing donut cotton candy sweet roll muffin dragée muffin candy. Caramels sesame snaps brownie tiramisu. Macaroon biscuit soufflé halvah muffin pie chupa chups.</p>


        <strong>Engagement : </strong>
        <p>50% du Chiffre d’affaires servira à l’installation de panneaux solaires. 1€ dépensé, 50 centimes pour l’association ...</p>
        <img src="images/probono/baby.png" class="img-rounded"><span> Organisé par Jean-Michel Baby</span>

         </div>
         </div>
</div>