    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Carrotmob France</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#pourquoi">Pourquoi Carrotmob ?</a></li>
                <li><a href="/#comment">Comment ça marche ?</a></li>
                <li class="active"><a href="/campaign#en-ce-moment">Les campagnes !</a></li>
                <li><a href="/campaign/create#un-carrotmob-ici">Carrotmobber un commerçant !</a></li>
                <li><a href="/campaign/request#me-faire-carrotmobber">Me faire Carrotmobber !</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <%- partial('../partials/carousel')%>

    <div id="en-ce-moment" class="container marketing">

      <div id="pourquoi" class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">En ce moment&nbsp;!<br><span class="text-muted">Près de là où vous êtes&nbsp;!</span></h2>
          <p class="lead"></p>
          <div id="map" class="featurette-image img-responsive" style="width: 500px; height: 300px;"></div>

          <script>
            var map = L.map('map');

            L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
              maxZoom: 18,
              attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
            }).addTo(map);

            function onLocationFound(e) {
              var radius = e.accuracy / 2;

              L.marker(e.latlng).addTo(map)
                .bindPopup("Ma position approximative dans un rayon de " + radius + " mètres !").openPopup();

              L.circle(e.latlng, radius).addTo(map);
            }

            function onLocationError(e) {
              alert(e.message);
            }

            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);

            map.locate({setView: true, maxZoom: 16});
          </script>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/carrotmob.png" alt="Carrotmob">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/images/places/nouveau.png" alt="Nouveau Carrotmob">
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading">Ciel&nbsp;! <span class="text-muted">Le prochain&nbsp;?</span></h2>
          <p><a class="btn btn-danger" href="/campaign/create#un-carrotmob-ici" role="button">Carrotmobber un commerçant&nbsp;! &raquo;</a></p>
          <p><a class="btn btn-danger" href="/campaign/request#me-faire-carrotmobber" role="button">Me faire Carrotmobber&nbsp;! &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="campagnes" class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Rochefort Sur Mer <span class="text-muted">Le premier&nbsp;!</span></h2>
          <p class="lead">La Vuelta Café</p>
          <p><a class="btn btn-warning" href="http://www.carrotcommunity.org/#!rochefort/c4lm" target="_blank" role="button">Revivre le premier Carrotmob de France ! &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/rochefort-sur-mer.png" alt="Carrotmob à Rochefort Sur Mer">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/paris.png" alt="Carrotmobs à Paris">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Paris <span class="text-muted">Ile-de-France</span></h2>
          <p class="lead">Intermarché, Bea'shka, Monsieur Poulet, La Bellevilloise</p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!paris/c14o7" target="_blank" role="button">Revivre les Carrotmobs de Paris &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Rennes <span class="text-muted">Bretagne</span></h2>
          <p class="lead">Ecoffee, La Cave Délices, Le Chantier, Le Café Cortina, La Vie Enchantée, Le Café Laverie</p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!rennes/csob" target="_blank" role="button">Revivre les Carrotmobs de Rennes &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/rennes.png" alt="Carrotmobs à Rennes">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/troyes.png" alt="Carrotmobs à Troyes">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Troyes <span class="text-muted">Champagne-Ardenne</span></h2>
          <p class="lead">Rive Gauche</p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!troyes/cjog" target="_blank" role="button">Revivre le Carrotmob de Troyes &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Grenoble <span class="text-muted">Rhône-Alpes</span></h2>
          <p class="lead">Tea Time</p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!grenoble/c14aa" target="_blank" role="button">Revivre le Carrotmob de Grenoble &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/grenoble.png" alt="Carrotmob à Grenoble">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/lille.png" alt="Carrotmob à Lille">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Lille <span class="text-muted">Nord-Pas-de-Calais</span></h2>
          <p class="lead">Be Yourself !</p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!lille/c1jlp" target="_blank" role="button">Revivre le Carrotmob de Lille &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Toulouse <span class="text-muted">Midi-Pyrénées</span></h2>
          <p class="lead"></p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!toulouse/c16tw" target="_blank" role="button">Revivre le Carrotmob de Toulouse &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/toulouse.png" alt="Carrotmob à Toulouse">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/ile-de-la-reunion.png" alt="Carrotmob sur l'Ile de la Réunion">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Ile de la Réunion <span class="text-muted">DROM</span></h2>
          <p class="lead"></p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!reunion/c22sk" target="_blank" role="button">Revivre le Carrotmob sur l'Ile de la Réunion &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Strasbourg <span class="text-muted">Alsace</span></h2>
          <p class="lead"></p>
          <p><a class="btn btn-primary" href="http://www.carrotcommunity.org/#!strasbourg/cemj" target="_blank" role="button">Revivre le Carrotmob de Strasbourg &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/places/strasbourg.png" alt="Carrotmob à Strasbourg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/carrotmob.png" alt="Carrotmob">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Tout sauf ma ville&nbsp;!<br><span class="text-muted">La prochaine&nbsp;?</span></h2>
          <p><a class="btn btn-danger" href="/campaign/create#un-carrotmob-ici" role="button">Carrotmobber un commerçant&nbsp;! &raquo;</a></p>
          <p><a class="btn btn-danger" href="/campaign/request#me-faire-carrotmobber" role="button">Me faire Carrotmobber&nbsp;! &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div><!-- /.container -->