
    <%- partial('../home/header')%>
    <div class="c_campaign">
        <div class="filters">
            <ul>
                <li><a href="#">passées</a></li>
                <li><a href="#" class="selected">en cours</a></li>
                <li><a href="#">à venir</a></li>
            </ul>
        </div>
        <div class="grid_c_list">
            <div class="bk_c_mea">
                <a href="#">
                    <img src="/images/asset_img_mea.jpg" alt="" />
                    <div class="e_infos">
                        <h3>Titre de mon évenement super long pour checker</h3>
                        <div class="location">
                                <span>
                                    <span class="town">Paris</span> </br>
                                    <span class="date">05/04/2014</span>
                                </span>
                            <span class="people"><strong>452</strong></span>
                        </div>
                        <p>Actuellement, le site est développé sur une stack NodeJS + Sails.js sans interface d'administration, il demande  ...</p>
                        <p><strong>Utiliser des ampoules basses consommations</strong></p>
                    </div>
                </a>
            </div>
            <div class="bk_c_mea">
                        <a href="#">
                            <img src="/images/asset_img_mea.jpg" alt="" />
                            <div class="e_infos">
                            <h3>Titre de mon évenement super long pour checker</h3>
                                <div>
                                    <span>
                                        <span>Paris</span>
                                        <span>05/04/2014</span>
                                    </span>
                                    <span>452</span>
                                </div>
                                <p>Actuellement, le site est développé sur une stack NodeJS + Sails.js sans interface d'administration, il demande  ...</p>
                                <p><strong>Utiliser des ampoules basses consommations</strong></p>
                            </div>
                        </a>
            </div>
            <div class="bk_c_mea">
                        <a href="#">
                            <img src="/images/asset_img_mea.jpg" alt="" />
                            <div class="e_infos">
                            <h3>Titre de mon évenement super long pour checker</h3>
                                <div>
                                    <span>
                                        <span>Paris</span>
                                        <span>05/04/2014</span>
                                    </span>
                                    <span>452</span>
                                </div>
                                <p>Actuellement, le site est développé sur une stack NodeJS + Sails.js sans interface d'administration, il demande  ...</p>
                                <p><strong>Utiliser des ampoules basses consommations</strong></p>
                            </div>
                        </a>
              </div>
    </div>
</div>