
    <%- partial('../home/header')%>
    <ul>
        <li><a href="#">passées</a></li>
        <li><a href="#">en cours</a></li>
        <li><a href="#">à venir</a></li>
    </ul>
    <div>
        <div>
            <a href="#">
                <img src="" alt="" />
                <h3>Titre de mon évenement super long pour checker</h3>
                <div>
                    <span>
                        <span>Paris</span>
                        <span>05/04/2014</span>
                    </span>
                    <span>452</span>
                </div>
                <p>Actuellement, le site est développé sur une stack NodeJS + Sails.js sans interface d'administration, il demande  ...</p>
                <p>Utiliser des ampoules basses consommations</p>
            </a>
        </div>
    </div>