extends ../layout

block body
    .stats
        .container
            .row
                .col-lg-6.col-md-6.col-sm-12
                    .community
                        img.img-responsive(src="/images/img_community.png", alt="community")
                        .row.compteur
                            .col-lg-6.col-md-6.col-sm-6
                                span 1
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-6.col-md-6.col-sm-6
                                span 2
                                img.img-responsive(src="/img/bg_compteur.png")
                .col-lg-6.col-md-6.col-sm-12
                    .carrotmobbers
                        img.img-responsive(src="/images/img_carrotmobber.png", alt="carrotmobbers")
                        .row.compteur
                            .col-lg-3.col-md-3.col-sm-3
                                span 0
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-3.col-md-3.col-sm-3
                                span 9
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-3.col-md-3.col-sm-3
                                span 7
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-3.col-md-3.col-sm-3
                                span 7
                                img.img-responsive(src="/img/bg_compteur.png")
                .col-lg-12.col-md-12.col-sm-12
                    .carrotmobbs
                        img.img-responsive(src="/images/img_carrotmobbs.png", alt="campagnes")
                        .row.compteur
                            .col-lg-2.col-md-2.col-sm-2
                                span 0
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-2.col-md-2.col-sm-2
                                span 9
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-2.col-md-2.col-sm-2
                                span 7
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-2.col-md-2.col-sm-2
                                span 7
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-2.col-md-2.col-sm-2
                                span 7
                                img.img-responsive(src="/img/bg_compteur.png")
                .col-lg-12.col-md-12.col-sm-12
                    .carottes
                        img.img-responsive(src="/images/img_carottes_tricotees.png", alt="carottes tricotées")
                        .row.compteur
                            .col-lg-3.col-md-3.col-sm-3
                                span 0
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-3.col-md-3.col-sm-3
                                span 9
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-3.col-md-3.col-sm-3
                                span 7
                                img.img-responsive(src="/img/bg_compteur.png")
                            .col-lg-3.col-md-3.col-sm-3
                                span 7
                                img.img-responsive(src="/img/bg_compteur.png")
