extends ../layout

block body
    .cover.association
        img(src='/images/cover-association.jpg', alt='Carrot Community', width='100%')
        h2.text-hide Association Carrot Community
    .container
        .row
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotcommunitybordeaux/', target='_blank')
                    img.img-responsive(src='/images/community-bordeaux.jpg', alt='Carrotmob Bordeaux')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobclermont/', target='_blank')
                    img.img-responsive(src='/images/community-clermont.jpg', alt='Carrotmob Clermont')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/coulommiers/', target='_blank')
                    img.img-responsive(src='/images/community-coulommiers.jpg', alt='Carrotmob Coulommiers')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobgrenoble/', target='_blank')
                    img.img-responsive(src='/images/community-grenoble.jpg', alt='Carrotmob Grenoble')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobquimper/', target='_blank')
                    img.img-responsive(src='/images/community-quimper.jpg', alt='Carrotmob Quimper')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmoblille/', target='_blank')
                    img.img-responsive(src='/images/community-lille.jpg', alt='Carrotmob Lille')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmoblyon/', target='_blank')
                    img.img-responsive(src='/images/community-lyon.jpg', alt='Carrotmob Lyon')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobmarseille/', target='_blank')
                    img.img-responsive(src='/images/community-marseille.jpg', alt='Carrotmob Marseille')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobnantes/', target='_blank')
                    img.img-responsive(src='/images/community-nantes.jpg', alt='Carrotmob Nantes')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobparis/', target='_blank')
                    img.img-responsive(src='/images/community-paris.jpg', alt='Carrotmob Paris')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobrennes/', target='_blank')
                    img.img-responsive(src='/images/community-rennes.jpg', alt='Carrotmob Rennes')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobrouen/', target='_blank')
                    img.img-responsive(src='/images/community-rouen.jpg', alt='Carrotmob Rouen')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobsainte/', target='_blank')
                    img.img-responsive(src='/images/community-st-etienne.jpg', alt='Carrotmob St Etienne')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotmobtoulon/', target='_blank')
                    img.img-responsive(src='/images/community-toulon.jpg', alt='Carrotmob Toulon')
            .community.col-md-3.col-sm-4
                a(href='https://www.facebook.com/groups/carrotcommunitytoulouse/', target='_blank')
                    img.img-responsive(src='/images/community-toulouse.jpg', alt='Carrotmob Toulouse')
            .community.col-md-3.col-sm-4
                a(href='mailto:bonjour@carrotmob.fr')
                    img.img-responsive(src='/images/community-create.jpg', alt='Créer ma communauté')
        .row
            .group.col-lg-12
                img.img-responsive(src='/images/cover-rejoindre-equipe.jpg', alt="Rejoindre l'équipe")
            .group.col-lg-12
                a(href='https://www.facebook.com/groups/carrotmobpropaganda/', target='_blank')
                    img.img-responsive(src='/images/cover-group-communication.jpg', alt='Carrotmob Communication')
                p.lead.text-center
                    | Spécialiste de la com ? Ce groupe est pour toi.
            .group.col-lg-12
                img.img-responsive(src='/images/cover-group-communities.jpg', alt='Carrotmob Communities')
                p.lead.text-center
                    | Groupe de réflexions sur les communautés de l’innovation sociale.
                    br
                    strong Bientôt disponible
            .group.col-lg-12
                a(href='https://www.facebook.com/groups/carrotmobdaily/', target='_blank')
                    img.img-responsive(src='/images/cover-group-daily.jpg', alt='Carrotmob Daily')
                p.lead.text-center
                    | Carrotmob tous les jours prêt de chez soi !
            .group.col-lg-12
                img.img-responsive(src='/images/cover-group-engagements.jpg', alt='Carrotmob Engagements')
                p.lead.text-center
                    | Quels engagements pour les entreprises carrotmobbées ? (à venir)
                    br
                    strong Bientôt disponible
            .group.col-lg-12
                a(href='https://www.facebook.com/groups/carrotmobimpact/', target='_blank')
                    img.img-responsive(src='/images/cover-group-impact.jpg', alt='Carrotmob Impact')
                p.lead.text-center
                    | L'objectif de ce groupe de travail est de travailler à la mesure dl'impact des actions de Carrotmob auprès des commerçants. En effet, si l’association soutient ou motive la mise en œuvre de bonnes pratiques, il est nécessaire d’avoir une certaine crédibilité auprès des diverses parties-prenantes (commerçants, carrotmobbers, partenaires), mais aussi auprès des consommateurs qui vont associer notre image à certaines étiquettes « développement durable », « comportement éco-responsable », « responsabilité sociétale des entreprises », « entrepreneuriat social&nbsp;»...
            .group.col-lg-12
                img.img-responsive(src='/images/cover-group-rewards.jpg', alt='Carrotmob Rewards')
                p.lead.text-center
                    | Comment récompenser les Carrotmobbers ?
                    br
                    strong Bientôt disponible
            .group.col-lg-12
                a(href='mailto:bonjour@carrotmob.fr')
                    img.img-responsive(src='/images/cover-group-create.jpg', alt='Proposer un nouveau groupe thématique')
        .row
            .association.col-lg-12
                a(href='https://docs.google.com/a/cyril.cc/document/d/17Hc_hBICntbCM0HS6O-UBN7D5-HoFZfrz8lPSjjUxnY/edit', target='_blank')
                    img.img-responsive(src='/images/cover-association-statuts.jpg', alt='Nos statuts')
