    <div class="navbar-wrapper">
      <div class="container">

        <div id="navbar-carrotmob" class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/images/carrotmob-205x25.png" alt="Carrotmob" height="25" width="205"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#pourquoi">Pourquoi</a></li>
                <li><a href="/#comment">Comment</a></li>
                <li><a href="/#communaute">Communauté</a></li>
                <li><a href="/#presse">Presse</a></li>
                <li class="active"><a href="#">Campagnes</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="campagnes" class="container presentation">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Carrotmob x <a href="http://www.generationscobayes.org/" target="_blank">Générations cobayes</a><br><span class="text-muted">5 avril 2014</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Le bar va remplacer ses verres plastiques par des verres recyclables et réutilisables<br>
            <i class="fa fa-thumbs-up"></i> Il va également s'approvisionner avec des produits d'entretiens plus respectueux de la santé et de l'environnement
          </p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/events/755371131142749/" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Evénement Carrotmob x Générations cobayes</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris-2014-04-05.jpg" alt="Carrotmob x Générations cobayes" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris-2014-03-08.jpg" alt="Carrotmob chez Les Frangins" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Les Frangins<br><span class="text-muted">8 mars 2014</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Relocalisation de ses fournisseurs de bière fabriquées en Ile-de-France
          </p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/events/1409528569304528/" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Evénement Carrotmob @ Les Frangins</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">L'Absurde Imposture&nbsp;<br><span class="text-muted">30 janvier 2014</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Passage à un fournisseur électricité vert <i class="fa fa-plus-circle"></i> Installation d'une enseigne LED</p>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134203668&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris-2014-01-30.jpg" alt="Carrotmob à L'Absurde Imposture" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris.png" alt="Carrotmobs à Paris" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Intermarché - Pour un commerce équitable<br><span class="text-muted">26 octobre 2013</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Baisse du prix des produits issus du commerce équitable de -&nbsp;20&nbsp;centimes en moyenne pendant 6 mois<br>
            <i class="fa fa-bar-chart-o fa-fw"></i> + 960% de <abbr title="Chiffre d'Affaires">CA</abbr>
          </p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/events/622623657780279/" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Evénement Carrotmob Intermarché</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Be Yourself&nbsp;<br><span class="text-muted">25 octobre 2013</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Construction d'un composteur <i class="fa fa-plus-circle"></i> Distribution de repas de Noël à des démunis</p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/pages/Carrotmob-Lille/118439758341289" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Lille</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/lille.png" alt="Carrotmob à Lille" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris.png" alt="Carrotmobs à Paris" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Bea'shka<br><span class="text-muted">8 juin 2013</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Remplacement de radiateurs ultra-énergivores par des chauffages écologiques</p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/events/508588659190462/?fref=ts" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Evénement Carrotmob Bea'shka</a></p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/groups/327353404034008/" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Groupe des Carrotmobbers parisiens</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Ferme Attitude<br><span class="text-muted">6 juin 2013</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Installation d'ampoules basse consommation à LED</p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/CarrotmobToulouse" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Toulouse</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/toulouse.png" alt="Carrotmob à Toulouse" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/grenoble.png" alt="Carrotmob à Grenoble" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Tea Time<br><span class="text-muted">6 avril 2013</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Relocalisation de fournisseurs<br>
            <i class="fa fa-bar-chart-o fa-fw"></i> + 600 € de <abbr title="Chiffre d'Affaires">CA</abbr>
          </p>
          <p><a class="btn btn-primary" href="https://vimeo.com/59765761" target="_blank" role="button"><i class="fa fa-vimeo-square fa-fw"></i> Le revivre en vidéo</a></p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/carrotmobgrenoble" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Grenoble</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Ecoffee<br><span class="text-muted">2 mars 2013</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Aménagement du camion au tri sélectif<br>
            <i class="fa fa-bar-chart-o fa-fw"></i> + 450 € de <abbr title="Chiffre d'Affaires">CA</abbr>
          </p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/carrotmobrennes" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Rennes</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rennes.png" alt="Carrotmobs à Rennes" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris.png" alt="Carrotmobs à Paris" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Monsieur Poulet<br><span class="text-muted">13 octobre 2012</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Installation d'ampoules basse consommation à LED</p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/groups/327353404034008/" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Groupe des Carrotmobbers parisiens</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">La Cave Délices, Le Chantier<br><span class="text-muted">23 juin 2012</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Le Chantier : Relocalisation des fournisseurs<br>La Cave Délices : Isolation du bâtiment <i class="fa fa-plus-circle"></i> Installation d'ampoules basses consommation à LED<br>
            <i class="fa fa-bar-chart-o fa-fw"></i> + 800 € de <abbr title="Chiffre d'Affaires">CA</abbr>
          </p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/carrotmobrennes" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Rennes</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rennes.png" alt="Carrotmobs à Rennes" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/paris.png" alt="Carrotmobs à Paris" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">La Bellevilloise<br><span class="text-muted">6 avril 2012</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Isolation du bâtiment</p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/groups/327353404034008/" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Groupe des Carrotmobbers parisiens</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">Rive Gauche<br><span class="text-muted">24 mars 2012</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Installation d'un mur végétal</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/troyes.png" alt="Carrotmob à Troyes" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rennes.png" alt="Carrotmobs à Rennes" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Le Café Cortina<br><span class="text-muted">13 mai 2011</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Installation d'un système calorifique de redistribution de la chaleur
            <i class="fa fa-bar-chart-o fa-fw"></i> + 2200 € de <abbr title="Chiffre d'Affaires">CA</abbr>
          </p>
          <p><a class="btn btn-primary" href="https://vimeo.com/25474367" target="_blank" role="button"><i class="fa fa-vimeo-square fa-fw"></i> Le revivre en vidéo</a></p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/carrotmobrennes" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Rennes</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">La Vie Enchantée<br><span class="text-muted">12 mai 2011</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Transition vers un fournisseur d'électricité verte<br>
            <i class="fa fa-bar-chart-o fa-fw"></i> + 750 € de <abbr title="Chiffre d'Affaires">CA</abbr>
          </p>
          <p><a class="btn btn-primary" href="https://vimeo.com/25474367" target="_blank" role="button"><i class="fa fa-vimeo-square fa-fw"></i> Le revivre en vidéo</a></p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/carrotmobrennes" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Rennes</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rennes.png" alt="Carrotmobs à Rennes" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rennes.png" alt="Carrotmobs à Rennes" height="236" width="411">
        </div>
        <div class="col-md-7">
          <h2 class="campagne-heading">Le Café Laverie<br><span class="text-muted">11 mai 2011</span></h2>
          <p class="lead">
            <i class="fa fa-thumbs-up"></i> Installation d'ampoules basses consommation à LED<br>
            <i class="fa fa-bar-chart-o fa-fw"></i> + 800 € de <abbr title="Chiffre d'Affaires">CA</abbr>
          </p>
          <p><a class="btn btn-primary" href="https://vimeo.com/25474367" target="_blank" role="button"><i class="fa fa-vimeo-square fa-fw"></i> Le revivre en vidéo</a></p>
          <p><a class="btn btn-danger" href="https://www.facebook.com/carrotmobrennes" target="_blank" role="button"><i class="fa fa-facebook fa-fw"></i> Page Carrotmob Rennes</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="campagne-heading">La Vuelta Café<br><span class="text-muted">30 avril 2010, le premier en France&nbsp;!</span></h2>
          <p class="lead"><i class="fa fa-thumbs-up"></i> Installation d'ampoules basses consommation à LED <i class="fa fa-plus-circle"></i> Achat d'un système frigorifique économe en énergie</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-thumbnail" src="/images/places/rochefort-sur-mer.png" alt="Carrotmob à Rochefort Sur Mer" height="236" width="411">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/carrotmob.png" alt="Carrotmob" height="500" width="500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Tout sauf ma ville&nbsp;?<br></span>Rejoins la communauté&nbsp;!</h2>
          <p><a class="btn btn-danger" href="/#communaute" role="button">Rejoindre la communauté</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <%- partial('../partials/footer')%>

    </div>